<h1><%= @team.name() %></h1>

<h3>Add a Player</h3>
<form action="/team/<%= @team.id() %>" method="post">
  <div class="form-group">
    <label for="name">Player Name</label>
    <input type="text" class="form-control" name="name" placeholder="e.g. Sammy the Smasher">
  </div>
<div class="form-group">
  <label for='position'>Position</label>
  <input type="text" name="position" placeholder='e.g. smasher' class = 'form-control'>

</div>
  <button type="submit" class="btn btn-default btn-md">Submit</button>
</form>

<ul>
  <% @players.each do |player| %>
    <li><%= player.name() %></li>
  <% end %>
</ul>
